@import './core/reset';

$white: #fff;
$gray: #a4a89d;
$dark: #36414D;
$black: #000000;
$gold: #A8895B;
$light-gray: #FAFAFA;

$md: '992px';
$sm: '768px';
$xs: '480px';

@font-face {
    font-family: Raleway-Regular;
    src: url('../assets/webfonts/Raleway-Regular.woff');
}

@font-face {
    font-family: Raleway-Bold;
    src: url('../assets/webfonts/Raleway-Bold.woff');
}

@font-face {
    font-family: Raleway-Light;
    src: url('../assets/webfonts/Raleway-Light.woff');
}

@font-face {
    font-family: Raleway-Black;
    src: url('../assets/webfonts/Raleway-Black.woff');
}

body {
    font-size: 16px;
    font-size: Raleway-Regular;
}

main {
    width: 100%;
    min-height: calc(100vh - 125px);
}

//ajustes generales
p { margin: 0; }

.text-bold { color: $dark; font-family: Raleway-Bold;}

.border-bottom-black {
    width:100%;
    height:1px;
    background: $gray;
    margin: 0rem 0 3rem 0;
}

h3 {
    font-family: Raleway-Black;
    font-size: 2rem;
    text-align: center;
    color: $black;
    padding: 0 .5rem;
}

.title {
    font-family: Raleway-Regular;
    font-size: 2rem;
    text-align: center;
    color: $black;
    @media(max-width: $sm){
        font-size: 1.5rem;
    }
}

.btn-gold {
    display: block;
    background: $gold;
    border: 0;
    cursor: pointer;
    width: max-content;
    height: max-content;
    padding: .7rem 3rem;
    border-radius: .3rem;
    font-size: 1rem;
    font-family: Raleway-Bold;
    text-transform: uppercase;
    color: $white;
    transition: .2s ease-in-out;
    &:hover {
        transform: scale(1.05);
        box-shadow: 0 0 3rem rgba(0,0,0,.3);;
    }
}

//header
.header {
    width: 100%;
    height: 900px;
    background: $white;
    background-image: url('../assets/background.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    &__logo {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        padding: 1rem 0;
    }
    &__info {
        height: auto;
        padding: 3rem 5rem 3rem 0;
        p {
            font-size: 1.2rem;
            color: $black;
            text-align: center;
            font-family: Raleway-Bold;
        }
        .title-page {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            h1 {
                font-family: Raleway-Bold;
                font-size: 3.5rem;
                color: $dark;
            }
            h2 {
                font-family: Raleway-Light;
                color: $black;
                font-size: 3rem;
            }
        }
        .partners {
            width: 100%;
            height: inherit;
            display: flex;
            justify-content: center;
            flex-direction: column;
            flex-wrap: wrap;
            .imgs-1 {
                width: 100%;
                display: flex;
                justify-content: center;
                padding-top: 4rem;
                padding-bottom: 4rem;
                img {
                    margin: 0 4rem 0 0;
                }
            }
            .imgs-2 {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
    &__form {
        width: 100%;
        height: auto;
        padding: 3rem 0;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        .form-title {
            width: 465px;
            padding: 0 1rem;
        }
        .form-session {
            width: 400px;
            padding: 2rem 3rem;
            background: $white;
            border-radius: .3rem;
            &__container-input-label {
                display: flex;
                flex-direction: column;
                position: relative;
                label {
                    color: $black;
                    font-family: Raleway-Bold;
                    padding-top: 1.5rem;
                    padding-bottom: .5rem;
                }
                .input-text {
                    height: 25px;
                    font-family: Raleway-Regular;
                    border: .1rem solid $gray;
                    border-radius: .3rem;
                    padding: .5rem;
                    outline: 0;
                    transition: .2s ease-in-out;
                    &:hover, &:focus {
                        border: .1rem solid $black;
                    }
                }
            }
            &__submit {
                display: flex;
                justify-content: center;
                padding: 1.5rem 0 0 0;
            }
        }
    }
    @media(max-width: 1280px){
        padding-bottom: 4rem;
        &__info {
            .partners {
                .imgs-1 {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    img {
                        width: 180px;
                        height: auto;
                        margin: 0 3rem 0 0;
                    }
                }
                .imgs-2 {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img {
                        width: 190px;
                    }
                }
            }
        }
        p {
            padding: 0 .5rem;
        }
        &__form {
            .form-title {
                width: 365px;
                padding: 0 .5rem;
            }
            .form-session {
                width: 300px;
            }
        }
    }
    @media(max-width: $md){
        height: max-content;
        padding-bottom: 3.5rem;
        &__info {
            height: auto;
            padding: 3rem 0rem 3rem 0;
        }
        &__form {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding-top: 5rem;
            .form-session {
                width: 80%;
            }
        }
    }
    @media(max-width: $sm){
        &__info {
            .title-page {
                h1 {
                    font-size: 2.5rem;
                }
                h2 {
                    font-size: 2rem;
                    padding: 0 .5rem;
                }
            }
            .partners {
                .imgs-1 {
                    img {
                        width: 120px;
                        margin: 0 1rem 0 0;
                    }
                }
                .imgs-2 {
                    img {
                        width: 140px;
                    }
                }
            }
        }
        &__form {
            width: 90%;
            margin-left: auto;
            margin-right: auto;
            padding-top: 0;
            .form-session {
                width: 75%;
                padding: 1rem 2rem;
            }
        }
    }
}

//sections
.section-1{
    width: 100%;
    height: 400px;
    background: $white;
    background-image: url('../assets/section_01.webp');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1rem 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
    h2 {
        color: $white;
        padding: 2rem .5rem;
        text-align: center;
        font-size: 3rem;
    }
    @media(max-width: $md){
        height: 300px;
        h2 {
            font-size: 2rem;
        }
    }
    @media(max-width: $xs){
        height: 300px;
        h2 {
            font-size: 1.5rem;
        }
    }
}

.section-2 {
    width: 100%;
    height: auto;
    background: $light-gray;
    padding: 3rem 0;
    display: flex;
    justify-content: space-evenly;
    &__img {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            width: 100%;
        }
    }
    &__info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        .title {
            width: 500px;;
            h3 {
                padding: 0;
                text-align: left;
                font-size: 2rem;
                color: $black;
                font-family: Raleway-Bold;
            }
            p {
                text-align: left;
                padding: 0;
                font-size: 1.2rem;
                font-family: Raleway-Regular;
            }
        }
        .description {
            width: 500px;
            h5 {
                font-size: 1.5rem;
                font-family: Raleway-Regular;
                padding-bottom: 1rem;
            }
            ul {
                list-style-type: none;
                li {
                    font-size: 1.5rem;
                    font-family: Raleway-Bold;
                    color: $gold;
                    padding-bottom: 2rem;
                    &:before {
                        content: '✓';
                        padding-right: 1.5rem;
                        font-size: .9rem;
                    }
                }
            }
        }
    }
    @media(max-width: $md){
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
        &__info {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .title {
                width: 500px;
                h3 {
                    text-align: center;
                    font-size: 2.5rem;
                }
                p {
                    text-align: center;
                    font-size: 1.2rem;
                }
            }
            .description {
                width: 500px;
                text-align: center;
                h5 {
                    font-size: 1.3rem;
                }
                ul {
                    padding: 0;
                    li {
                        font-size: 1.3rem;
                        &:before {
                            content: '✓';
                            font-size: .9rem;
                        }
                    }
                }
            }
        }
    }
    @media(max-width: $sm){
        &__img {
            img {
                width: 90%;
            }
        }
        &__info {
            .title {
                width: 300px;
                h3 {
                    text-align: center;
                    font-size: 1.5rem;
                }
                p {
                    text-align: center;
                    font-size: 1rem;
                }
            }
            .description {
                width: 300px;
                h5 {
                    font-size: 1.2rem;
                }
                ul {
                    li {
                        font-size: 1.1rem;
                        &:before {
                            content: '✓';
                            font-size: .9rem;
                        }
                    }
                }
            }
        }
    }
}

.section-3 {
    width: 100%;
    height: auto;
    padding: 1rem 0 2rem 0;
    &__card-student {
        width: 300px;
        height: 460px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: auto;
        border-radius: .5rem;
        img {
            width: 250px;
        }
        h4 {
            font-family: Raleway-Bold;
            font-size: 1.5rem;
            color: $black;
            padding: 0 0 .5rem 0;
        }
        p {
            color: $gray;
            padding: 0 1rem;
            text-align: center;
            font-size: .9rem;
        }
    }
}

.section-4 {
    background: $light-gray;
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    &__img {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            width: 400px;
            height: auto;
        }
    }
    &__info {
        padding: 0 2rem;
        h3 {
            font-family: Raleway-Bold;
            text-align: left;
            margin: 0 0 1.5rem 0;
            font-size: 3rem;
            color: $dark;
            padding: 0;
        }
        h5 {
            font-family: Raleway-Bold;
            text-align: left;
            margin: 0 0 1.5rem 0;
            font-size: 1.5rem;
            color: $dark;
            padding: 0;
        }
        p {
            font-size: 1.2rem;
            padding-bottom: 1.5rem;
        }
        ul {
            padding: 0;
            list-style: none;
            li {
                font-size: 1.2rem;
                padding-bottom: 1rem;
            }
        }
    }
    &__imgs {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        img {
            width: auto;
            height: auto;
            margin: 0 2rem 0 0;
        }
    }
    @media(max-width: $md){
        height: max-content;
        padding: 3rem 0;
        &__img {
            padding: 2rem 0 3rem 0;
        }
        &__info {
            h3 {
                text-align: center;
            }
        }
        &__imgs {
            justify-content: center;
        }
    }
    @media(max-width: $sm){
        &__img {
            img {
                width: 300px;
            }
        }
    }
    @media(max-width: $xs){
        &__img {
            img {
                width: 100%;
            }
        }
    }
}

//footer

footer { background: $white; width: 100%; height: auto;}

.footer {
    width: 100%;
    height: 125px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__info-page {
        a {
            text-decoration: none;
            color: $gray;
            cursor: pointer;
            font-size: 1rem;
            transition: .2s ease-in-out;
            &:hover {
                color: $dark;
                text-decoration: underline;
            }
        }
    }
    &__social-media {
        a {
            margin: 0 1rem;
            text-decoration: none;
            transition: .3s ease-in-out;
            svg {
                width: 34px;
                height: 34px;
                path {
                    fill: $gray;
                }
            }
            &:hover {
                svg {
                    path {
                        fill: $dark;
                    }
                }
            }
        }
    }
    &__privacy{
        a {
            text-decoration: none;
            color: $gray;
            font-size: 1rem;
            transition: .2s ease-in-out;
            &:hover {
                color: $dark;
                text-decoration: underline;
            }
        }
    }
    @media(max-width: $md){
        flex-direction: column;
        height: max-content;
        padding: 1rem 0;
        &__info-page {
            padding-bottom: 1.5rem;
        }
        &__social-media {
            padding-bottom: 1rem;
        }
        &__privacy{
            a {
                text-decoration: none;
                color: $gray;
                font-size: 1rem;
            }
        }
    }
}